<!DOCTYPE html>
<html>
<head>
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Page Count</th>
                <th>Excerpt</th>
                <th>Publish Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.description }}</td>
                <td>{{ book.pageCount }}</td>
                <td>{{ book.excerpt }}</td>
                <td>{{ book.publishDate }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
</body>
</html>
